//
   Created by olivier on 28/06/2017.

// The whole content below can be removed with the new code.

div.top-bar

  div.top-bar-left.small-1
      ul.dropdown.menu(data-dropdown-menu='')
        li.menu-text.small-1
          a(routerLink='/page1', routerLinkActive='active') Page1
        li.menu-text.small-1
          a(routerLink='/page2', routerLinkActive='active') Page2
        li.menu-text.small-1
          a(routerLink='/page3', routerLinkActive='active') Page3
        li.menu-text.small-1
          a(routerLink='/page4', routerLinkActive='active') Page4
        li.menu-text.small-1
          a(routerLink='/page5', routerLinkActive='active') Page5
        li.menu-text.small-1
          a(routerLink='/movie/create', routerLinkActive='active') Create Movie
        li.menu-text.small-1
          a(routerLink='/movies/show', routerLinkActive='active') Show Movies

router-outlet
